@font-face {
    font-family: "SFDigital";
    src: url('./font/TrueType/SFDigitalReadout-Heavy.ttf') format('truetype');
}

@media (orientation: portrait) and (max-width: 500px), (max-height: 799px) {
    .frame {
        font-size: 10px;
    }
}

@media (orientation: landscape) and (max-width: 799px), (max-height: 500px) {
    .frame {
        font-size: 10px;
    }
}

@media (orientation: portrait) and (max-width: 300px), (max-height: 450px) {
    .frame {
        font-size: 7px;
    }
}

@media (orientation: landscape) and (max-width: 450px), (max-height: 300px) {
    .frame {
        font-size: 7px;
    }
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.1em solid black;
    width: 31em;
    height: 46em;
    background: rgb(100,100,100);
    border-radius: 1.2em;
    margin-top: 4em;
}

.display {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6em;
    padding: 0.2em;
    box-sizing: border-box;
    border: 0.025em solid black;
    font-size: 4.2em; /*72px 4.2em*/
    font-family: "SFDigital";
    width: 7em;/*480px;*/
    height: 2.4em; /*180px;*/
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background: rgb(214, 214, 214);
    border-radius: 0.2em;   
}



.display-one {
    position:absolute;
    font-size: 0.72em;/*48px;*/
    top: 0.36em;/*24px;*/
    color: rgb(50,50,50);
}

.display-two { 
    position: absolute;
    bottom: 0.36em; /*24px*/
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 7.2em;/*480px;*/
    height: 40em;
    padding: 0.15em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;/*480px;*/
    height: 6.25em;
    margin-bottom: 0.8em;
}


.button {
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 3.2em;/*100px;*/
    height: 3.2em;
    font-size: 2em;/*40px;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: rgb(20,20,20);
    border-radius: 0.4em;/*12px;*/  
}

.backspace {
    display: flex;
    flex-direction: row;
    padding-right: 0.2em;/*6px;*/
}

.triangle {
    width: 0;
    height: 0;
    position: relative;
    box-sizing: border-box;
    border-top: 0.5em/*16px*/ solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid white;
    background: transparent;
}

.triangle:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    box-sizing: border-box;
    border-top: 0.44em/*14px*/ solid transparent;
    border-bottom: 0.44em solid transparent;
    border-right: 0.44em solid rgb(20,20,20);
    background: transparent;
    top: -0.44em;
    left: 0.054em;/*2px;*/
}

.square {
    width: 0;
    height: 0;
    position: relative;
    box-sizing: border-box;
    border: 0.5em/*16px*/ solid white;
    border-left: 0.5em solid transparent;
    
}

.square:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    box-sizing: border-box;
    border: 0.47em/*15px*/ solid rgb(20,20,20);
    top: -0.47em;
    left: -0.47em;
    color: white;
}

.x {
    position: relative;
    color: white;
    top: -0.64em;/*-21px;*/
    left: -.30em;/*-10px;*/
    font-size: 1em;/*32px;*/
}


